version: '3'
services:
  ipfs:
    image: ipfs/go-ipfs:latest
    ports:
      - 4001:4001
      - 8080:8080
      - 5001:5001
  vitalam-node:
    image: ghcr.io/digicatapult/vitalam-node:v2.10.0
    command:
      --base-path /data/
      --dev
      --unsafe-ws-external
      --unsafe-rpc-external
      --rpc-cors all
    ports:
      - 30333:30333
      - 9944:9944
      - 9933:9933
    restart: on-failure
