version: '3'
services:
  ipfs:
    image: ipfs/go-ipfs:v0.18.1
    environment:
      - |
        IPFS_SWARM_KEY=/key/swarm/psk/1.0.0/
        /base16/
        0000000000000000000000000000000000000000000000000000000000000000
    ports:
      - 4001:4001
      - 8080:8080
      - 5001:5001
  ipfs-2:
    image: ipfs/go-ipfs:v0.18.1
    environment:
      - |
        IPFS_SWARM_KEY=/key/swarm/psk/1.0.0/
        /base16/
        0000000000000000000000000000000000000000000000000000000000000000
    ports:
      - 4002:4001
      - 8081:8080
      - 5002:5001
  dscp-node:
    image: digicatapult/dscp-node:v5.0.0
    command:
      --base-path /data/
      --dev
      --unsafe-ws-external
      --unsafe-rpc-external
      --rpc-cors all
    ports:
      - 30333:30333
      - 9944:9944
      - 9933:9933
    restart: on-failure
